# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native builds
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Environment
.env
.env.local

# Editors
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Logs
npm-debug.*
yarn-error.*

CLAUDE.md
